body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-align: center;
    background-color: #007bff;
    padding: 20px 0;
}

.form-container {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    font-family: "Times New Roman", Times, serif;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #b3e0ff;
}

.timestamp {
    font-style: italic;
    color: #666;
}

.delete-form {
    margin-top: 10px;
}

.delete-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #d32f2f;
}
